//
   Created by Mamy on 14/9/19.

html
    head
        <title>Whiteboard - 404 Error</title>
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Some description')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="/wb_assets/static/vendor/bootstrap/css/bootstrap.min.css")
        
    // ...
    body
        // ...
        //- html files have no filter and are included verbatim
        include error.html
