html
    head
        title Smartboard - whiteboard
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='description', content='Collaborative whiteboard')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet", href="/wb_assets/static/css/farbtastic.css")
        link(rel="stylesheet", href="/wb_assets/static/css/style.css")
        link(rel="stylesheet", href="/wb_assets/static/vendor/bootstrap/css/bootstrap.min.css")
        link(rel="stylesheet", href="/wb_assets/static/css/animate.min.css")
        link(rel="stylesheet", href="/wb_assets/static/cropper/cropper.css")
    body
        include whiteboard.html
        script(src="/socket.io/socket.io.js")
        script(src="/wb_assets/static/js/lib/jquery.js")
        script(src="/wb_assets/static/js/lib/jquery.pep.min.js")
        script(src="/wb_assets/static/js/lib/jquery_browser.js")
        script(src="/wb_assets/static/vendor/bootstrap/js/popper.min.js")
        script(src="/wb_assets/static/vendor/bootstrap/js/bootstrap.min.js")
        script(src="/wb_assets/static/vendor/html2canvas.js")
        script(src="/wb_assets/static/js/lib/paper.js")
        script(src="/wb_assets/static/js/lib/webtoolkit.base64.js")
        script(src="/wb_assets/static/js/lib/farbtastic.js")
        script(src="/wb_assets/static/js/draw.js" type="text/paperscript" canvas="myCanvas")
        script var socket = io.connect('/');
        script(src="/wb_assets/static/cropper/cropper.js")
        script(src="/wb_assets/static/cropper/siploImageCropper.js")
