<button id="canvasClear"></button>
<body cz-shortcut-listen="true">
    <div class="container-fluid">
        <div class="row">
            <main class="ml-sm-auto col">
                <div class="text-center" style="position: sticky; z-index: 200;">
                    <span class="badge badge-pill badge-primary">
                        Zoom:
                        <span id="scale-percent">100%</span>
                    </span>
                </div>
                <div id="canvasContainer">
                    <div id="subContainer">
                        <canvas id="myCanvas" resize="true"></canvas>
                    </div>
                </div>
                <div class="whiteboard-page-number-container" style="display: none">
                    <nav aria-label="Page navigation">
                        <div class="pagination input-group mb-3">
                            <div class="input-group-prepend">
                                <div class="page-item">
                                    <span class="load-previous-pg page-link" aria-label="Previous" aria-hidden="true">&laquo;</span>
                                    <span class="sr-only">Previous</span>
                                </div>
                            </div>
                                
                            <select class="custom-select" id="pageSelector">
                            </select>
                            <div class="input-group-prepend bg-warning px-3 pt-2">
                                of&nbsp;<span id="whiteboard-page-count">1</span>
                            </div>
                            <div class="input-group-prepend">
                                <div class="page-item">
                                    <span class="load-next-pg page-link" aria-label="Next" aria-hidden="true">&raquo;</span>
                                    <span class="sr-only">Next</span>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="tool-box d-flex justify-content-center">
                        <!--Page Operations-->
                        <div class="mx-2 text-center">
                            <button id="load-new-pg" title="New Page" class="btn buttonicon buttonicon-new-page" type="button"></button>
                        </div>
                        <div class="mx-2 text-center">
                            <button id="load-previous-pg" title="Go To Previous Page" class="load-previous-pg btn buttonicon buttonicon-previous-page disabled" type="button"></button>
                        </div>
                        <div class="mx-2 text-center">
                            <button id="load-next-pg" title="Go To Next Page" class="load-next-pg btn buttonicon buttonicon-next-page disabled" type="button"></button>
                        </div>
                        <!-- paint brush/ pencil / eraser / hand tool -->
                        <div class="dropup mx-2 text-center">
                            <button type="button" class="btn buttonicon buttonicon-basic-tools dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Basic Tools">
                            </button>
                            <div class="dropdown-menu" x-placement="top-start" style="min-width: 0rem; position: absolute; transform: translate3d(0px, -2px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a id="pencilTool" class="dropdown-item px-2 active" title="Pencil Tool">
                                    <span class="buttonicon buttonicon-pencil"></span>
                                </a>
                                <a id="eraserTool" class="dropdown-item px-2" title="Eraser Tool">
                                    <span class="buttonicon buttonicon-eraser"></span>
                                </a>
                                <a id="drawTool" class="dropdown-item px-2" title="Brush Tool">
                                    <span class="buttonicon buttonicon-draw"></span>
                                </a>
                                <a id="pointTool" class="dropdown-item px-2" title="Point Tool">
                                    <span class="buttonicon buttonicon-point"></span>
                                </a>
                                <a id="textBoxTool" class="dropdown-item px-2" title="Text Box">
                                    <span class="buttonicon buttonicon-textBox"></span>
                                </a>
                            </div>
                            <div id="tipInput" class="card">
                                <div class="card-body">
                                    <div class="input-group-sm align-items-center">
                                        <label class="small" for="tip">Tip size in pixel</label>
                                        <input id="tip" type="number" min="1" max="100" value="5" autocomplete="off" class="form-control" aria-label="Tip Size" aria-describedby="inputGroup-sizing-sm"/>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                        <!-- Shapes -->
                        <div class="dropup mx-2 text-center">
                            <button type="button" class="btn buttonicon buttonicon-shapes dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Shapes">
                            </button>
                            <div class="dropdown-menu" x-placement="top-start" style="min-width: 0rem; position: absolute; transform: translate3d(0px, -2px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a id="lineTool" class="dropdown-item px-2" title="Line tool">
                                    <span class="buttonicon buttonicon-line"></span>
                                </a>
                                <a id="rectangleTool" class="dropdown-item px-2" title="Rectangle Tool">
                                    <span class="buttonicon buttonicon-rectangle"></span>
                                </a>
                                <a id="triangleTool" class="dropdown-item px-2" title="Triangle Tool">
                                    <span class="buttonicon buttonicon-triangle"></span>
                                </a>
                                <a id="circleTool" class="dropdown-item px-2" title="Circle Tool">
                                    <span class="buttonicon buttonicon-circle"></span>
                                </a>
                            </div>
                        </div>
            
                        <!--Zoom and pan-->
                        <div class="dropup mx-2 text-center">
                            <button type="button" class="btn buttonicon buttonicon-zoomtools dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" title="Zoom">
                            </button>
                            <div class="dropdown-menu" x-placement="top-start" style="min-width: 0rem; position: absolute; transform: translate3d(0px, -2px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a id="zoomInTool" class="dropdown-item px-2" title="Zoom in">
                                    <span class="buttonicon buttonicon-zoomin"></span>
                                </a>
                                <a id="zoomOutTool" class="dropdown-item px-2" title="Zoom out">
                                    <span class="buttonicon buttonicon-zoomout"></span>
                                </a>
                                <a id="zoomFitTool" class="dropdown-item px-2" title="Fit to page">
                                    <span class="buttonicon buttonicon-fit"></span>
                                </a>
                            </div>
                        </div>
            
                        <!--Clear Button-->
                        <div id="clearTool" class="mx-2 text-center">
                            <button  title="Clear Page" class="btn buttonicon buttonicon-clear" type="button"></button>
                        </div>

                        <!--Delete Button-->
                        <div id="deleteTool" class="mx-2 text-center" style="display: none">
                            <button  title="Delete selected items" class="btn buttonicon buttonicon-delete" type="button"></button>
                        </div>
            
                        <!-- Select Tool -->
                        <div id="selectTool" class="mx-2 text-center">
                            <button title="Select Tool" class="btn buttonicon buttonicon-select" type="button"></button>
                        </div>
            
                        <!-- color Selector Toggle -->
                        <div class="mx-2 text-center dropup">
                            <button type="button" title="Color" class="btn buttonicon buttonicon-color dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
            
                            <div id="mycolorpicker" class="dropdown-menu p-2 mb-3">
                                <div id="colorpicker"></div>
                                <div id="opacity">
                                    <div id="opacityLabel">Opacity</div>
                                    <input type="range" min="0" max="255" value="255" id="opacityRangeVal">
                                </div>
                            </div>
                            <div id="activeColorSwatch"></div>
                        </div>
            
                        <!-- Upload -->
                        <div class="mx-2 text-center">
                            <button id="uploadImage" title="Upload an Image" class="btn buttonicon buttonicon-upload" data-toggle="modal" data-target="#imgCroppingModal" type="button"></button>
                        </div>
            
                        <!--Import or export-->
                        <div class="mx-2 text-center">
                            <button id="exportAsImage" title="Export As a Image" class="btn buttonicon buttonicon-import_export" data-toggle="modal" data-target="#importexport" type="button"></button>
                        </div>
            
                        <!--Undo-->
                        <div class="mx-2 text-center">
                            <button id="undoTool" title="Undo" class="btn buttonicon buttonicon-undo disabled" type="button"></button>
                        </div>
            
                        <!--Redo-->
                        <div class="mx-2 text-center">
                            <button id="redoTool" title="Redo" class="btn buttonicon buttonicon-redo disabled" type="button"></button>
                        </div>
                </div>
                
                <!-- Modal -->
                <div id="importexport" class="modal fade" role="dialog" aria-labelledby="importexport" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="importexportTitle">Export</h5>
                        </div>
                        <div class="modal-body text-center">
                            <a id="exportSVG" download="smartboard.svg" data-dismiss="modal" target="_blank" class="btn btn-secondary">Export SVG</a>
                            <a id="exportPNG" download="smartboard.png" target="_self" class="btn btn-primary">Export PNG</a>
                        </div>
                    </div>
                    </div>
                </div>
                <!-- Image Cropping Modal -->
                <div id="imgCroppingModal" class="modal fade" role="dialog">
                    <div class="modal-dialog modal-md">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-body" style="height: 75%">
                                <div class="img-container">
                                    <img id="croppingImg" class="img-fluid" style="height: 80%;">
                                </div>
                                <div class="input-group my-3">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="croppingImgUpload" accept="image/*" autocomplete="off">
                                        <label class="custom-file-label" for="croppingImgUpload" aria-describedby="imgCropped">Click to pick file from your device</label>
                                    </div>
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-primary" id="imgCropped">Crop & Open</button>
                                        <button type="button" class="btn btn-outline-primary" data-dismiss="modal" id="openImg">Open</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div id="lostConnection" class="hidden">
                    <p>Lost connection to the server! Please refresh this page.</p>
                </div>
            
                <div id="loading" class="d-flex justify-content-center hidden" style="display:block;">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                
                <!--dummy cursor-->
                <img src="/wb_assets/static/img/laser_dot.png" width="24" height="24" id="dummy-cursor">

                <!--TextBox Container-->
                <div id="whiteboard-text-box-container" class="card shadow p-3">
                    <div class="form-row">
                        <div class="col">
                            <select class="custom-select" name="font-colors">
                                <option value="black">Black</option>
                                <option value="yellow">Yellow</option>
                                <option value="red">Red</option>
                                <option value="green">Green</option>
                                <option value="blue">Blue</option>
                            </select>
                        </div>
                        <div class="col">
                            <select class="custom-select" name="font-sizes">
                                <option value="14">Small</option>
                                <option value="18">Medium</option>
                                <option value="22">Large</option>
                            </select>
                        </div>
                    </div>
                    
                    <textarea id="text-box" class="my-3 form-control" style="height: 120px"></textarea>
                    <div class="inline">
                        <button class="btn btn-primary" id="text-box-save">OK</button>
                        <button class="btn btn-warning" id="text-box-cancel">CANCEL</button>
                    </div>
                </div>
            </main>
        </div>
    </div>
</body>
