body{
    overflow: hidden;
    font-size: 0.875rem;
}
.nav-link {
    font-weight: 500;
    color: #333;
}

#whiteboard-text-box-container {
    position: absolute;
    display: none;
    width: 300px;
}

#commandTool{
    display: flex;
    position: fixed;
}

.tool-box {
    z-index: 10;
    margin-top: 42%;
}

#loading {
    z-index: 100;
}

#tipInput {
    width: 140px;
    position: absolute;
    bottom: 3rem !important;
    left: 3.5rem !important;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.buttonicon {
    width: 34px;
    height: 32px;
    background-image: url('../../static/img/etherpad_lite_icons.png');
    background-repeat: no-repeat;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
}

.buttonicon-draw {
    background-image: url('../../static/img/draw.png');
}

.buttonicon-pencil {
    background-image: url('../../static/img/pencil.png');
}

.buttonicon-eraser {
    background-image: url('../../static/img/eraser.png');
}

.buttonicon-line {
    background-image: url('../../static/img/line.png');
}

.buttonicon-select {
    background-image: url('../../static/img/select.png');
}

.buttonicon-clear {
    background-image: url('../../static/img/close.png');
}

.buttonicon-delete {
    background-image: url('../../static/img/delete.png');
}

.buttonicon-upload {
    background-image: url('../../static/img/upload.png');
}

.buttonicon-color {
    background-image: url('../../static/img/color.png');
}

.buttonicon-zoomin {
    background-image: url('../../static/img/zoom-in.png');
}

.buttonicon-zoomout {
    background-image: url('../../static/img/zoom-out.png');
}

.buttonicon-fit {
    background-image: url('../../static/img/zoom-fit.png');
}

.buttonicon-zoomtools {
    background-image: url('../../static/img/zoom.png');
    height: 34px;
}

.buttonicon-page-tools {
    background-image: url('../../static/img/page-process-icon.png');
    height: 34px;
}

.buttonicon-page-tools:active {
    background-image: url('../../static/img/page-process-icon.png');
}

.buttonicon-new-page {
    background-image: url('../../static/img/page_operations-new_page.png');
}

.buttonicon-previous-page {
    background-image: url('../../static/img/page-previous-icon.png');
}

.buttonicon-next-page {
    background-image: url('../../static/img/page-next-icon.png');
}

.buttonicon-settings {
    background-position: 0px -436px
}

.buttonicon-import_export {
    background-image: url('../../static/img/export.png');
}

.buttonicon-undo {
    background-image: url('../../static/img/undo.png');
}

.buttonicon-redo {
    background-image: url('../../static/img/redo.png');
}

.buttonicon-basic-tools {
    background-image: url('../../static/img/brush-pencil-icon.png');
    height: 34px;
}

.buttonicon-basic-tools:active {
    background-image: url('../../static/img/brush-pencil-icon.png');
}

.buttonicon-shapes {
    background-image: url('../../static/img/shapes.png');
    height: 34px;
}

.buttonicon-shapes:active {
    background-image: url('../../static/img/shapes.png');
}

.buttonicon-rectangle {
    background-image: url('../../static/img/rectangle.png');
}

.buttonicon-triangle {
    background-image: url('../../static/img/triangle.png');
}

.buttonicon-circle {
    background-image: url('../../static/img/circle.png');
}

.buttonicon-crop {
    background-image: url('../../static/img/crop.png');
}

.buttonicon-point {
    background-image: url('../../static/img/point.png');
}

.buttonicon-textBox {
    background-image: url('../../static/img/textBox.png');
}

.buttonicon-embed {
    background-position: 0px -18px
}

.buttonicon-showusers {
    background-position: 0px -183px;
}

#lostConnection {
    display: none;
}

#subContainer{
    height: 100%;
    width: 100%;
    overflow: auto;
}
 
#canvasContainer {
    position: absolute;
    height: 90%;
    width: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#myCanvas {
    cursor: pointer;
    width: 200%;
    height: 200%;
    display: block;
}

#canvasClear {
    display: none;
}

.custom-file-label::after {
    display: none !important
}

.dropdown-toggle:after {
    content: none !important
}

.dropdown-menu.show {
    left: -8px !important;
}

/* styles for cropper*/
.img-container {
    max-width: 100%;
    height: 288px;
    background-image: url('../img/placeholder.jpg');
    background-size: cover
}

.cropOption {
    text-align: center;
    padding: 10px;
}

.cropOption span {
    margin: 0 5px
}

.whiteboard-page-number-container {
    position: absolute;
    top: 91%;
    z-index: 15;
}

#remoteVideos video {
    position: relative;
    z-index: 1500;
    height: 150px;
}

#localVideo {
    position: relative;
    top: -150px;
    z-index: 1500;
    /*float: right;*/
    height: 50px;
}

.tools {
    bottom: 0px;
}

@media (max-width: 1050px) {
    .tool-box {
        padding: 0 1rem;
    }
}

@media screen and (max-device-width: 425px) {
    .tool-box>div.row {
        display: none;
    }
}

@media screen and (max-device-height: 425px) {
    .tool-box>div.row {
        display: none;
    }
}

.dropdown-item:hover {
    background: orange;
}